<html>
  <title>Home Page</title>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body>
    <center>
      <form class = "pure-form pure-form-stacked">
	<fieldset>
	  <legend>Weather alerts in your area!(US cities only)</legend>

	  <label for = "city">City (ex. Brooklyn, San Francisco)</label>
	  <input id = "city" type = "city" placeholder = "City">

	  <label for = "state">State (ex. NY, CA)</label>
	  <input id = "state" type = "state" placeholder = "State">
	  
	  <button type = "submit" name = "b" class = "pure-button pure-button-primary">b</button>
	</fieldset>
      </form>
    </center>  
  </body>
</html>
